$primaryColor: #01792a;
$secondaryColor: #39da73;
$accentColor: #3e824f;
$highlightColor: rgb(237, 236, 245);
$linkColor: rgb(37, 150, 153);
$linkHoverColor: $secondaryColor;
$linkActiveColor: $accentColor;

//site wide styles
//header

//end header styles

//body stylesheet sitewide
a {
  color: $highlightColor;
}
a:hover {
  color: $linkHoverColor;
}
a:active {
  color: $linkActiveColor;
}
a:focus {
  color: $linkActiveColor;
}
//end sitewide body stylesheet

//nav stylesheet
  nav {
    background-color: $primaryColor;
    color: white;
    font-family: 'Lato', sans-serif;
  //  border-top: 40px solid $secondaryColor;
  //  border-bottom: 40px solid $primaryColor;
  .navToggle {
    color: white;
  }
  }

//end nav stylesheet

//footer stylesheet
footer {
  background-image: url('../img/asymmetry-botanical-bright-1029592.jpg');
  border-top: 2px solid $secondaryColor;
  background-color: $primaryColor;
  padding-top: 20px;
  color: $highlightColor;
  span {
  //  border-bottom: 2px solid $secondaryColor;
  }

  .tag {
    margin-bottom: 25px;
  }
}
//end sitewide footer sheet

//end site wide stylesheet



//contact specific stylesheet

#contact {
  color: $primaryColor;
  margin-top: 75px;
  text-align: i;
  margin-bottom: 50px;
}

#feedback {
      margin-bottom: 25px;
     #feedback-head {
      	text-align: center;
        color: $primaryColor;
      	font-size: 30px;
      	font-family: 'Quicksand', sans-serif;
      	margin-top: 20px;
      	margin-bottom: 20px;
      }

  /* Form itself */
  #mail-form {
  	width: 85%;
  	max-width: 500px;
  }

  /* Resize testarea */
  textarea {
  	resize: none;
  	overflow: scroll;
  }

  /* Google captcha */
  #captcha {
  	margin-bottom: 30px;
  }

  /* Fix sizing on captcha */
.g-recaptcha div {
   margin-left: auto; margin-right: auto;
}

  @media only screen and (max-width: 420px) {
  	.g-recaptcha {
  	transform:scale(0.81);
  	transform-origin: 0;
  	}
  }

  /* Submit button */
  .btn-primary:hover {
    color: $secondaryColor;
  	background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:active {
    color: $secondaryColor;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:focus {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:active:focus {
    color: $secondaryColor;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:disabled {
  	color: white;
  	background-color: $primaryColor;
  }

  .btn-primary:disabled:hover {
  	color: white;
  	background-color: $primaryColor;
  }

  .btn-primary {
  	color: $primaryColor;
    background-color: $highlightColor;
    border-color: $primaryColor;
  }

  /* All feedback in a card */
  .card {
  	margin: auto;
  	margin-top: 30px;
  	min-width: 50%;
  	max-width: 75%;

  }

  .card-body {
  	padding-top: 30px;
  	padding-bottom: 30px;
  }

  .form-group {
  	margin-bottom: 10px;
  }



} //feedback

//end contact specific stylesheet

//index specific stylesheet

.jumbotron {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image: url('../img/abstract-art-artificial-131634.jpg');
    .actionBtn {
      margin-top: 30px;
    }
   //unused
  //  background-image: url('../img/close-up-green-nature-207269.jpg');
  //  background-image: url('../img/abstract-dew-fresh-207355.jpg');
//    background-image: url('../img/agriculture-biology-close-up-396166.jpg');
//   background-image: url('../img/asymmetry-botanical-bright-1029592.jpg');
// background-image: url('../img/background-beautiful-bloom-985266.jpg')
//   background-image: url('../img/bloom-blossom-flora-57368.jpg');
//   background-image: url('../img/bloom-blossom-flora-158636.jpg');
//   background-image: url('../img/arrangement-bloom-blooming-462402.jpg');
//   background-image: url('../img/beautiful-bloom-blooming-109828.jpg');
//   background-image: url('../img/beautiful-bloom-blooming-130847.jpg');

//used
// architecture-clouds-daylight-259588.jpg
//   background-image: url('../img/beautiful-branch-conifer-1058155.jpg');
//   background-image: url('../img/blade-blur-dew-212324.jpg');
//  background-image: url('../img/background-bokeh-green-6466.jpg');
//   background-image: url('../img/asymmetry-botanical-bright-1029592.jpg');
//    background-image: url('../img/flora-flowes-green-122429.jpg');
//     background-image: url('../img/abstract-art-artificial-131634.jpg');

    margin-top: 52px;
    width: auto;
    }

content {
  padding-top: 15px;
  .bigImg {
    height: 450px;
    width: auto;
  }
}

content.about {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  color: $primaryColor;
  text-align: center;
  width: 60%;
  p {
    margin-top: 35px;
  }
}

content.hours {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: $primaryColor;
  bottom: 35px;
  h2 {
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
  } h4 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
  }
  p {
    text-align: center;
    margin-top: 5px;
  }

  .list-titles {
    padding-top: 25px;
    margin-bottom: 5px;
    :after{
     border-bottom: 2px solid $secondaryColor;
     content: ""; /* This is necessary for the pseudo element to work. */
     display: block; /* This will put the pseudo element on its own line. */
     width: 40%; /* Change this to whatever width you want. */
    }
  }

}

content.process {
  padding-top: 35px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  color: $primaryColor;
  text-align: center;
  justify-content: space-between;
  width: 85%;
  .card {
    border-color: $secondaryColor;
    margin-top: 35px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .icon {
      padding-bottom: 15px;
    }
  }
}

content.services {
  padding-top: 35px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  color: $primaryColor;
  text-align: center;
  justify-content: space-between;

  .card {
    border-color: $secondaryColor;
    margin-top: 35px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .icon {
      padding-bottom: 15px;
    }
  }
}
content.service1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: $primaryColor;
  padding-bottom: 35px;
  h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 35px;
  }
  p {
    text-align: center;
    margin-top: 25px;
  }
  .list-titles {
    padding-top: 25px;
    margin-bottom: 5px;
    :after{
     border-bottom: 2px solid $secondaryColor;
     content: ""; /* This is necessary for the pseudo element to work. */
     display: block; /* This will put the pseudo element on its own line. */
     width: 23%; /* Change this to whatever width you want. */
    }
  }
}

content.service3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: $primaryColor;
  padding-bottom: 35px;
  h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 35px;
  }
  p {
    text-align: center;
    margin-top: 25px;
  }
  .list-titles {
    padding-top: 25px;
    margin-bottom: 5px;
    :after{
     border-bottom: 2px solid $secondaryColor;
     content: ""; /* This is necessary for the pseudo element to work. */
     display: block; /* This will put the pseudo element on its own line. */
     width: 33%; /* Change this to whatever width you want. */
    }
  }
}

content.service2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: $primaryColor;
  padding-bottom: 35px;
  h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 35px;
  }
  p {
    text-align: center;
    margin-top: 25px;
  }
  .list-titles {
    padding-top: 25px;
    margin-bottom: 5px;
    :after{
     border-bottom: 2px solid $secondaryColor;
     content: ""; /* This is necessary for the pseudo element to work. */
     display: block; /* This will put the pseudo element on its own line. */
     width: 40%; /* Change this to whatever width you want. */
    }
    .title2:after {
      border-bottom: 2px solid $secondaryColor;
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      width: 45%; /* Change this to whatever width you want. */
    }
    .title3:after {
      border-bottom: 2px solid $secondaryColor;
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      width: 37%; /* Change this to whatever width you want. */
    }
  }

}
content.service1 img {
  padding-left: 35px;
  width: 90%;
}
content.service2 img {
  padding: 15px;
  width: 90%;
}
content.service3 img {
  padding-left: 35px;
  width: 90%;
}

content.why {
  background-image: url('../img/flora-flowes-green-122429.jpg');
  padding-top: 50px;
  color: $highlightColor;
  text-align: center;
  width: auto;
  padding-bottom: 35px;
  border-top: 2px solid $secondaryColor;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  h4 {
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
  }
}
//end index specific stylesheet
//  background-image: url('../img/close-up-green-nature-207269.jpg');
//  background-image: url('../img/abstract-dew-fresh-207355.jpg');
//    background-image: url('../img/agriculture-biology-close-up-396166.jpg');
//   background-image: url('../img/asymmetry-botanical-bright-1029592.jpg');
//    background-image: url('../img/flora-flowes-green-122429.jpg');
//   background-image: url('../img/bloom-blossom-flora-57468.jpg');
//   background-image: url('../img/arrangement-bloom-blooming-462402.jpg');
// untested


//   background-image: url('../img/beautiful-bloom-blooming-109828.jpg');
//   background-image: url('../img/beautiful-bloom-blooming-130847.jpg')

//services specific stylesheet
//end services specific stylesheet
