.jumbotron {
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-image: url("../img/abstract-art-artificial-131634.jpg");
  width: auto; }

nav {
  background-color: green;
  color: white; }

footer {
  border-top: 2px solid green;
  padding-top: 20px; }
