$primaryColor: #01792a;
$secondaryColor: #39da73;
$accentColor: #3e824f;
$highlightColor: rgb(237, 236, 245);
$linkColor: rgb(37, 150, 153);
$linkFocusColor: $secondaryColor;
$linkActiveColor: $accentColor;

//site wide styles
//header
.jumbotron {
    text-align: center;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image: url('../img/abstract-art-artificial-131634.jpg');
//  background-image: url('../img/background-bokeh-green-6466.jpg');
  //  background-image: url('../img/close-up-green-nature-207269.jpg');
  //  background-image: url('../img/abstract-dew-fresh-207355.jpg');
//    background-image: url('../img/agreengriculture-biology-close-up-396166.jpg');
//   background-image: url('../img/asymmetry-botanical-bright-1029592.jpg');
//    background-image: url('../img/flora-flowes-green-122429.jpg');
    margin-top: 52px;
    width: auto;
    }

//end header styles

//nav stylesheet
  nav {
    background-color: $primaryColor;
    color: white;
  //  border-top: 40px solid $secondaryColor;
  }

//end nav stylesheet

//footer stylesheet
footer {
  border-top: 2px solid $secondaryColor;
  background-color: $primaryColor;
  padding-top: 20px;
  color: $highlightColor;
//  background-image: url('../img/abstract-dew-fresh-207355.jpg');
  a {
    color: $highlightColor;
  }
  .tag {
    margin-bottom: 25px;
  }
}
//end sitewide footer sheet

//end site wide stylesheet



//contact specific stylesheet

#contact {
  color: $primaryColor;
  margin-top: 75px;
  text-align: center;
  margin-bottom: 50px;
}

#feedback {
      margin-bottom: 25px;
     #feedback-head {
      	text-align: center;
        color: $primaryColor;
      	font-size: 30px;
      	font-family: 'Quicksand', sans-serif;
      	margin-top: 20px;
      	margin-bottom: 20px;
      }

  /* Form itself */
  #mail-form {
  	width: 85%;
  	max-width: 500px;
  }

  /* Resize testarea */
  textarea {
  	resize: none;
  	overflow: scroll;
  }

  /* Google captcha */
  #captcha {
  	margin-bottom: 30px;
  }

  /* Fix sizing on captcha */
  .g-recaptcha div { margin-left: auto; margin-right: auto;}

  @media only screen and (max-width: 420px) {
  	.g-recaptcha {
  	transform:scale(0.81);
  	transform-origin: 0;
  	}
  }

  /* Submit button */
  .btn-primary:hover {
    color: $secondaryColor;
  	background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:active {
    color: $secondaryColor;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:focus {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:active:focus {
    color: $secondaryColor;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:disabled {
  	color: white;
  	background-color: $primaryColor;
  }

  .btn-primary:disabled:hover {
  	color: white;
  	background-color: $primaryColor;
  }

  .btn-primary {
  	color: $primaryColor;
    background-color: $highlightColor;
    border-color: $primaryColor;
  }

  /* All feedback in a card */
  .card {
  	margin: auto;
  	margin-top: 30px;
  	min-width: 50%;
  	max-width: 75%;
  }

  .card-body {
  	padding-top: 30px;
  	padding-bottom: 30px;
  }

  .form-group {
  	margin-bottom: 10px;
  }



} //feedback

//end contact specific stylesheet

//index specific stylesheet
content {
  padding-top: 15px;
}

content.about {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  color: $primaryColor;
  text-align: center;
  width: 60%;
  p {
    margin-top: 35px;
  }
}

content.services {
  padding-top: 35px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  color: $primaryColor;
  text-align: center;
  justify-content: space-between;
  width: 85%;
  .card {
    border-color: $secondaryColor;
    margin-top: 35px;
  }
}
//end index specific stylesheet


//services specific stylesheet
//end services specific stylesheet
